.wrapper {
    color: rgb(12, 12, 12);
    font-family: "Times New Roman", Times, sans-serif;
}

.current {
    color: rgb(165, 165, 165);
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.flex-container > div {
    // border: 1px solid rgb(12, 12, 12);
    margin: 10px 0px 20px;
    line-height: 1.6;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container-row > div {
    // border: 1px solid rgb(12, 12, 12);
    margin: 10px 10px 20px;
    line-height: 1.6;
}

.cherry-blossom {
    position: absolute;
    left: -50px;
    top: 150px;
    transform: rotate(90deg);
}

.github-mark {
    position: fixed;
    right: 200px;
    top: 102px;
    max-width: 5%;

}

@media only screen and (max-width:600px) {
    /* For mobile phones: */
    .flex-container > div {
      width: 100%;
    }
    
    .github-mark {
        display: none;
    }

    .cherry-blossom {
        display: none;
    }
  }

@media only screen and (min-width:600px) {
/* For mobile phones: */
    .flex-container > div {
        width: 40vw;
    }
    
    .github-mark {
        display: none;
    }

    .cherry-blossom {
        display: none;
    }
}

@media only screen and (max-width:320px) {
    .flex-container > div {
        width:320px;
    }
}