<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    {% include navigation.html %}
    {{ content }}
</body>
<img class="cherry-blossom" src="../assets/cherryblossom.jpeg" alt="cherryblossom">
<a href="https://github.com/yws2/yws2.github.io"><img class="github-mark" src="../assets/GitHub-Mark.png" alt="githubmark"></a>

</html>