---
layout: default
---
<div class="flex-container">
    <div>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date_to_string }} - {{ page.author }}</p>

        {{ content }}
    </div>
    <div>
        <h2>Blog Posts</h2>
        <ul>
            {% assign sorted = (site.namsektee | sort: 'data') | reverse %}
            {% for item in sorted %}
            <li>
                <h4> {{item.date | date_to_string }}, <a style="color:rgb(12, 12, 12)"
                        href="{{ item.url }}">{{ item.title }}</a></h4>
                <!-- <p>{{ post.content | markdownify }}</p> -->
            </li>
            {% endfor %}
        </ul>
    </div>
</div>